<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ProjetoTCC2020.Properties.Settings.CadastroConnectionString"
            connectionString="Data Source=DESKTOP-9IUVQQE\SQLEXPRESS;Initial Catalog=Cadastro;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="ProjetoTCC2020.Properties.Settings.ClinicaConnectionString"
            connectionString="Data Source=DESKTOP-64EMUFN\SQLEXPRESS;Initial Catalog=Clinica;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="ProjetoTCC2020.Properties.Settings.ConsultorioConnectionString"
            connectionString="Data Source=DESKTOP-9IUVQQE\SQLEXPRESS;Initial Catalog=Consultorio;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>